html {
    scroll-behavior: smooth;
  }
body{
    margin:0;
    font-family: Arial;
}
a{
    text-decoration: none;
    color:#fff;
}
table tr th:hover{
    cursor: pointer;
}
.td{
}
.edit{
    width: 72px;
    position: absolute;
}
.header{
    display: flex;
    position: fixed;
    z-index: 10;
    /* margin-left: -70px; */
    /* margin-top: -8px; */
    background-color: #1e2d3b;
    box-shadow: 5px -5px 8px 10px #888888;
    color: #212121;
    height: 100px;
    top: 0;
    right: 0;
    left: 0;
}
.header .header-logo h3{
    font-size:22px;
    font-weight: 700;
    margin: auto;
}
.header-logo{
    display: flex; 
    width: 350px;
    background-color: #edcd1f;
}
.header .logo{
    height: 100px;
    /* margin-left: 70px; */
}

.header-list{
    display: flex;
    width: calc(100vw - 350px);
    flex-direction: row-reverse;
    /* padding-right: 65px; */
    text-align: center;
    line-height: 70px;
    justify-content: space-around;
}
.header-item {
    margin: 15px;
    font-size: 18px;
    font-weight: 500;
    width: 11vw;
}

.header-item:hover{
    color: #edcd1f;
}
.user{
    position: relative;
    font-size: 32px;
    color: #fff;
    margin: 13px 106px 0 87px;
    cursor: pointer;
}

.user ul li a{
    color: #fff;
    font-size: 18px;

}
.user .user-info-item a{
    width: 100%;
    display: block;
    padding: 8px;
  }
.user:hover .user-info{
    display: block;
}
.user-info{
    position: absolute;
    background-color: #ccc;
    border-radius: 10px;
    top: -58px;
    right: 68px;
    display: none;
}
.user .user-info{

    right: -6vw;
    top: 75px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color:rgba(0, 0, 0, 0.6);
    list-style-type: none;
    border-radius: 8px;
    width: 14vw;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.3);
    display:none;
  }
.user-info-item{
    list-style-type: none;
}
.user .user-info-item a{
    width: 100%;
    display: block;
    padding: 8px;
    height: 59px;
    line-height: 49px;
  }
.user-info-item:hover,.user-info-item a:hover{
    background-color: #edcd1f;
    color: #fff;
}
.wrap-back{ 
    margin-left: 116px;
}
#footer{
    background-color: #181821;
    color: #a9b3bb;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 100px;
  }
  #footer a{
    color: #a9b3bb;
  }
.info{
    margin-top: 45px;
}
.information{
    text-align: center;
    margin-top: 30px;
    width: 33vw;
}
.information-title{
    color: #fff;
    margin:auto;
    margin-left: 18px;
}
.information-text{
    margin-top: 30px;
}
#footer .footer-text{
font-size: 24px;
font-weight: 700;
color: #fff;
}
#footer .information img{
height:75px;
margin-right: 14px;
border-radius:6px;
margin: auto 0;
}
#footer .img-logo{
display: flex;
margin-left: 40px;

}
.info-list{
padding: 0;
}
.info-item{
display:flex;
}
.info-item i{
margin-top: auto;
margin-bottom: auto;
padding: 0 18px;
}
.show{
display: block;
}