* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:not(i) {
    font-family: "Poppins", sans-serif;
}
.container {
    background-color: #ffffff;
    width: 70vw;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    margin: auto;
    margin-top: 30vh;
}
.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-box input {
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #ae9cff;
    font-size: 16px;
}
.search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: #ae9cff;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
}
.result {
    position: relative;
}
.result h3 {
    font-size: 30px;
    color: #1f194c;
}
.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.result button {
    background-color: transparent;
    color: #ae9cff;
    border: none;
    outline: none;
    font-size: 18px;
}
.result .details {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.word-meaning {
    color: #575a7b;
}
.word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
}
.error {
    margin-top: 80px;
    text-align: center;
}


.functions{
    display: flex;
    width: 70vw;
    justify-content: space-between;
    margin: auto;
    margin-top: 140px;
}

.functions .function-incoming,
.functions .function-add{
    background-color:rgb(89, 89, 252);
    width: 30vw;
    text-align: center;
    padding: 8px 0;
    color: #fff;
    border-radius: 50px;
    font-size: 24px;

}

.functions .function-incoming:hover,
.functions .function-add:hover{
    cursor: pointer;
    background-color:rgba(89, 89, 252, 0.897);
}


.wrapRepeat {
    display: flex;
    width: 70vw;
    margin: auto;
    justify-content: space-between;
    margin-top: 140px;
}

.repeat-item {
    text-align: center;
    padding: 4px 0;
    width: 16vw ;
}

.repeat-item:hover{
    cursor: pointer;
    background-color:rgba(182, 167, 247, 0.2)
}
.repeat-item > .repeat-level {
    font-weight: 600;
    font-size: 26px;
}

.border-red{
    border: 2px solid red;
    color: red;
    border-radius: 12px;
}

.border-orange{
    border: 2px solid orange;
    color: orange;
    border-radius: 12px;
}

.border-blue{
    border: 2px solid blue;
    color: blue;
    border-radius: 12px;
}

.border-green{
    border: 2px solid green;
    color: green;
    border-radius: 12px;
}


.confirm{
    width: 50vw;
    height: 30vh;
    background-color:#edcd1f;;
    position: fixed;
    top: 40%;
    left: calc(50% - 25vw);
    border-radius: 28px;
    display: none;
}

.confirm .message-confirm{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
}
.confirm-option{
    display:flex;
    justify-content: space-around;
}
.confirm .confirm-option-yes,
.confirm .confirm-option-no
{
    width: 40%;
    padding: 8px 0;
}

/* libraries */
.libraries{
    margin-top: 10px;
    min-height: 80vh;
}

.libraries .library-item{
    width: 70vw;
    margin: auto;
    margin-top:40px;
}
.libraries .library-item-name{
    font-size: 30px;
    font-weight: 600;
    color:rgb(230, 68, 68)
}
.libraries .library-content{
    width: 60%;
    display: flex;
    justify-content: space-between
}
.libraries .library-content-text{
    
}
.libraries .library-content-title{
    font-size: 24px;
    font-weight: 600;
}
.libraries .library-content-sptitle{}
.libraries .library-content-download{
    margin-left: 50px;
    border:0;
    background-color:rgb(58, 71, 247);
    color: #fff;
    border-radius:20px;
    padding: 0 14px;

}

.libraries .library-content-download:hover{
    cursor: pointer;
    background-color:rgba(58, 71, 247, 0.685);
}

.backHome{
    margin-top: 180px;
    display: flex;
    font-size:24px;
    font-weight: 600;
    margin-left: 10vw;
}

.backHome-item{
    color: rgb(24, 135, 150);
}

.backHome-item:hover{
    color: rgba(24, 135, 150, 0.514);
}

/* bieu do */
.chart-layout {
    /* margin: 36px auto 0 auto; */
    padding: 32px 0;
    height: 320px;
    background-color: #fff;
    display: flex;
    /* justify-content: space-around; */
    width: 70vw;
    margin: auto;
    align-items: end;
    overflow-x: scroll;
}

.chart-layout__item {
    align-self: flex-end;
    width: 60px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: #EF5122;
    animation: growth ease-in 0.5s;
    margin-right: 16px;
}
.chart-layout__item > p:first-child{
    color: #000;
}
.chart-layout__item > p:last-child{
    color: #000;
}
@keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to {
        opacity: 1;
        height: var(--percent);
    }
}

.total{
    background-color:rgb(86 78 199);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    color: #fff;
    border: 6px solid #ccc;
    line-height: 38px;
    font-size: 20px;
    font-weight: 600;
}

.test{
    width: 70vw;
    margin: auto;
    text-align: center;
}
.test .title{
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}
.test .sp-test{
    margin: 14px 0 70px 0;
}
.test-content{
    width: 70vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.test-item{
    width: 25%;
}

.test-next{
    display: block;
    background-color: #ae9cff;
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: 600;
    border-radius: 20px;
    margin-left: calc(70vw );
}
.test-next:hover{
    background-color: #ae9cffbd;
}